footer {
  width: 100%;
  background-color: purple;
  position: static;
  padding: 10px !important;
  bottom: 0; }


p {
  margin: 0 !important;
  padding: 0; }

.left-content {
  display: inline-block;
  color: white; }

.right-content {
  padding: 18px 10px 10px 0px;
  display: inline-block;
  vertical-align: top;
  float: right; }

.social-media li {
  list-style-type: none;
  display: inline-block; }