header {
  height: 50px;
}
*{
  padding: 0 !important; 
}
#who-are-we {
  background: rgba(64,219,26,1);
  background: -moz-linear-gradient(left, rgba(64,219,26,1) 0%, rgba(126,255,20,1) 99%, rgba(126,255,20,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,219,26,1)), color-stop(99%, rgba(126,255,20,1)), color-stop(100%, rgba(126,255,20,1)));
  background: -webkit-linear-gradient(left, rgba(64,219,26,1) 0%, rgba(126,255,20,1) 99%, rgba(126,255,20,1) 100%);
  background: -o-linear-gradient(left, rgba(64,219,26,1) 0%, rgba(126,255,20,1) 99%, rgba(126,255,20,1) 100%);
  background: -ms-linear-gradient(left, rgba(64,219,26,1) 0%, rgba(126,255,20,1) 99%, rgba(126,255,20,1) 100%);
  background: linear-gradient(to right, rgba(64,219,26,1) 0%, rgba(126,255,20,1) 99%, rgba(126,255,20,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40db1a', endColorstr='#7eff14', GradientType=1 );
}
#who-are-we img {
  width: 100%;
  height: 100%;
}
#who-content {
  font-size: 17px;
  padding: 20px !important;
}

.summary {
  background: #FF512F; 
  background: -webkit-linear-gradient(to left, #FF512F , #F09819); 
  background: linear-gradient(to left, #FF512F , #F09819); 
}

  .summary img {
    width: 100%;
  }

  #sum-content {
    font-size: 17px;
    padding: 30px !important;
  }


.goals {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .goals img {
    width: 100%;
  }

  #goals-content{
    font-size: 17px;
    padding: 20px !important;
  }

#events .upcoming-events {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px; }

  #events .upcoming-events .upevents {
    width: 30%;
    margin-top: 10px;
    display: inline-block;
    text-align: center; }

    #events .upcoming-events .upevents .date {
      width: 60px;
      border: 2px solid #FFCC66;
      border-radius: 5px;
      display: inline-block;
      text-align: center; }

    #events .upcoming-events .upevents h4 {
      margin: 0px; }

    #events .upcoming-events .upevents .month {
      padding: 6px;
      color: white;
      background-color: #FFCC00; }

    #events .upcoming-events .upevents .day {
      color: #FF9933; }

    #events .upcoming-events .upevents p {
      padding-top: 10px !important;
      padding-left: 5px !important;
      display: inline-block;
      vertical-align: top; }

#events .all-events {
  text-align: center; }
