header {
  height: 50px; }

#news {
  padding: 20px !important;
}

  #news img {
    width: 50%;
    display: inline-block;
    vertical-align: top; 
  }

  #news .content {
    display: inline-block;
    width: 50%; 
    .date{
      font-size: 12px;
    }
    .title{
      font-size: 20px;
    }
  }
  #news .new{
    margin: 15px;
  }
#upcoming{
  padding: 20px !important;
  table{
    width: 80%;
  }
}